body { font-family: sans-serif !important } .imageTable .card-header {
    background-image: url(https://www.debian.org/Pics/softwaves_web_bg.png);
    background-size:100% 100%; background-position: 0 0; background-repeat:
    repeat-x; border-color: #333 !important } .imageTable .panel-primary {
    border-color: grey } .filterable { margin-top: 15px; } .filterable .card-header
    .float-right { margin-top: -20px; } .filterable .filters input[disabled]
    { background-color: transparent; border: none; cursor: auto; box-shadow:
    none; padding-left: 0; height: auto; } .filterable .filters input[disabled]::-webkit-input-placeholder
    { color: #333; } .filterable .filters input[disabled]::-moz-placeholder
    { color: #333; } .filterable .filters input[disabled]:-ms-input-placeholder
    { color: #333; } .w50 { width: 35% } input[type=&quot;search&quot;] { -webkit-appearance:
    searchfield; } input[type=&quot;search&quot;]::-webkit-search-cancel-button
    { -webkit-appearance: searchfield-cancel-button; } .right-content { position:
    relative; top: -.9em; } .float-right .btn-filter { top: -.4em; font-size:
    1.5em; margin-left: 0.5em; cursor: pointer } .navbar-brand { padding: 1px
    15px } nav { background-image: url(https://debian.org/Pics/gradient.png);
    background-position: 0 0; background-repeat: repeat-x; } .navbar-brand
    .logo { max-height: 100% } .navbar-brand .title { margin: 0.4em 0; } .right-content
    select { background-color: #617E82; outline: none; background-image: url(https://i.imgur.com/uGZv6si.png);
    background-position: 0 0; background-repeat: repeat-x; border: none; font-size:
    inherit; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;
    text-align-last: right; } .right-content select option { direction: rtl;
    outline: none; border-color: transparent } .table td,.table th { white-space:
    nowrap; cursor: pointer; width: 1%; } .table a { text-decoration: none
    } .pagination{ float: right; } .pagination .active a { background-image:
    url(https://www.debian.org/Pics/softwaves_web_bg.png); border-color: gray
    } .jumbotron .jumboLink { text-decoration: none; font-size: 20px; position:
    relative; top:-5px } .jumbotron h1{ border-bottom: 1px solid #c70036; width:
    100% } .infobox{ margin: 1em 0 } .infobox th { padding-right: 2em } .infobox
    tr { padding: 1em 0; font-size: inherit } /* footer section */ footer {
    font-size: 0.75em; border: 1px solid #dfdfe0; padding: 1em; background-color:
    #f5f6f7; line-height: 1.5em; border-left: 0; border-right: 0; clear: both;
    } #faq .card-title a{ text-decoration: none } #faq .card-header{ cursor:
    pointer } /* Sidebar Style */ .sideBar { height: 100%; width: 0; opacity:
    0; position: fixed; z-index: 10; top: 0; right: 0; background-color:whitesmoke;
    border-left: 1px solid #c70036; overflow-x: hidden; transition: 0.5s; padding:1em
    } .sideBar a { text-decoration: none; color: #818181; transition: 0.3s;
    } .sideBar table{ margin-top:2.3em; font-size: .9em } .sideBar a:hover
    { color: black; } .sideBar td{ display: inline-block; word-break: break-word;
    width: 100%; } .sideBar .closebtn { position: absolute; top: 0; right:
    25px; font-size: 36px; margin-left: 50px; } @media screen and (max-height:
    450px) { .sideBar {padding-top: 15px;} .sideBar {font-size: 18px;} .w50
    {width: 50%} } /* Sidebar Style Ends*/ .container{ max-width: 100%; /*
    Prevent overflow */ } #main { transition: 0.75s }
    